@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

/* http://www.color-hex.com/color-palette/5633 */

/**************************
 *        DEBUGGING       *
 **************************/
.region {
  _border: 1px dashed #aaa;
}
.single-page-wrapper {
  _border: 1px dashed #f80000;  
}

.page-single-page-site #title-wrap {
  display: none;
}




/**************************
 *        GLOBALS         *
 **************************/
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #000;
  margin: 0;
  _text-align: center;
}

div {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans Condensed', "Open Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 0;
}

h1 {
    font-size: 32px;
}

h2 {
  font-size: 130%;
  font-weight: 500;
  overflow: hidden;
}

h3 {
  font-size: 110%;
  font-weight: bold;
}

p {
  line-height: 1.8em;
  margin: 25px 0;
}
a {
  text-decoration: none;
  color: #ba0000;
}
a:hover {
  color: #f80000;
}

.permalink {
  text-transform: lowercase;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 10px;
}

.form-text {
  padding: 10px;
  font-size: 16px;
}
.form-submit {
  padding: 20px 30px;
  background: #ba0000;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
}
.form-textarea-wrapper {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 14px;
}
.form-textarea-wrapper textarea {
  font-size: 14px;
  
}

/**************************
 *         HEADER         *
 **************************/
#header-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  width: 80%;
  padding: 50px 10%;

  -webkit-transition: all .5s;
  transition: all .5s; 

}

#header-wrap.scrolled {
  position: fixed;
  _background-color: rgba(186,0,0,.5);
  background-color: rgba(255,255,255,.9);
  _border-bottom: 1px solid #EEE;
  padding-top: 10px;
  padding-bottom: 10px;

}

#header-wrap a {
  color: white;
}
#header-wrap.scrolled a {
  color: #ba0000;
}

#header-left {
  float: left;
  margin-right: 20px;
  max-width: 33.3%;
}

#header-right {
  float: right;
}

#logo {
  float: left;
}
#logo img {
  max-height: 50px;
}

#site-name {
  padding-left: 60px;
}
#site-name h1 {
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: -2px;
  margin: 0px;
}

#site-slogan {
  padding-left: 60px;
  margin-top: -5px;
}
#site-slogan h2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  color: white;
}

/**************************
 *       NAVIGATION       *
 **************************/
.admin-menu #overlay-container {
  margin-top: 20px; /* Fix for using admin_menu with the overlay. */
}

.breadcrumb {
  padding: 10px;
}

#main-menu {
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
#main-menu .menu {
  font-size: 14px;
  font-family: "Montserrat";
  text-transform: uppercase;
}


#main-menu .menu li {
  margin-left: 5px;
  margin-right: 5px;
}
#main-menu .menu a.active,
#main-menu .menu a:hover {
  border-bottom: 3px solid #ba0000;
}


#social-icons ul, #secondary-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#social-icons ul li, #secondary-menu ul li {
  display: inline;
}
#social-icons ul li a, #secondary-menu ul li a {
  text-decoration: none;
  padding: .2em .5em;
  text-transform: uppercase;
}
#social-icons ul li a:hover, #secondary-menu ul li a:hover {
  color: #f80000;
}
#secondary-menu {
  padding: 5px 0;
  font-size: 95%;
}

.node {
  padding: 0 10%;
}


/**************************
 *         CONTENT        *
 **************************/
#content-wrap {
  background: #fff;
}

#title-wrap {
   background: url("../images/header-bg.jpg");
    color: #eee; 
}  

.single-page-wrapper {
  min-height: 100vh;
}
  
#content-wrap #title-wrap,
.single-page-wrapper {
    padding: 100px 10% 20px;
    text-align: center;   
} 

.single-page-wrapper .node {
  padding: 0 20%;
}

#content-wrap #title-wrap h1,
.single-page-title {
  padding: 15px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;  
}


/**************************
 *       FOOTER           *
 **************************/
#footer-wrap {
  background: #000;
  padding: 30px 10%;
  color: #ddd;
  text-align: center;
}



/**************************
 *         CUSTOM         *
 **************************/
#about-me {
  background-image: url("../images/header-bg.jpg");
  color: #fff;
}
#about-me img {
  width: 150px;
  border-radius: 50%;
}

#recent-projects td {
  background: #fff;
  padding: 20px 30px;
  }
#recent-projects .view-footer a {
  padding: 20px 30px;
 background: #ba0000;
 color: #fff
  }
#recent-projects .view-footer a:hover {
  color: #ccc
  }
#contact {
  background-image: url("../images/contact-bg.jpg");
  color: #fff;
}
#contact .single-page {
  background: rgba(0,0,0,.4);
  padding: 10px 20px;
}
